.contentfont {
	line-height: normal;
	font-family: "华文楷体";
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	letter-spacing: 8px;
	text-indent: 2pc;
	vertical-align: top;
	text-align: justify;
}
